n8n-workflow.json
{
  "name": "Fantasy Football Analyzer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Tuesday 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Runs every Tuesday at 8 AM (waiver wire day)"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/rishikmba/fantasy-football-ai/main/fantasy-football-engine.js",
        "options": {}
      },
      "id": "load-github-code",
      "name": "Load Code from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Fetches the latest code from GitHub"
    },
    {
      "parameters": {
        "jsCode": "// Configuration - UPDATE YOUR EMAIL HERE\nconst config = {\n  owner_id: '1260492147568689152',\n  league_id: '1257118081231097856',\n  season: '2024',\n  email: 'YOUR_EMAIL@example.com',  // ← UPDATE THIS!\n  current_week: 10,  // ← UPDATE WEEKLY\n  \n  max_waiver_recommendations: 5,\n  include_reddit_analysis: false  // Set to true for Reddit analysis (slower)\n};\n\nreturn [{ json: { config } }];"
      },
      "id": "config-node",
      "name": "Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Update your email address here"
    },
    {
      "parameters": {
        "jsCode": "// Load the code from GitHub\nconst githubCode = $('Load Code from GitHub').first().json.data;\nconst config = $input.first().json.config;\n\n// Execute the GitHub code to load classes\neval(githubCode);\n\n// Now fetch Sleeper data\nconst sleeper = new SleeperAPI();\n\nasync function fetchSleeperData() {\n  try {\n    console.log('Fetching roster for owner:', config.owner_id);\n    const roster = await sleeper.getUserRoster(config.league_id, config.owner_id);\n    \n    console.log('Fetching all NFL players...');\n    const allPlayers = await sleeper.getAllPlayers();\n    console.log('Total players:', Object.keys(allPlayers).length);\n    \n    console.log('Fetching trending adds...');\n    const trendingAdds = await sleeper.getTrendingPlayersWithDetails('add', allPlayers, 30);\n    \n    console.log('Fetching trending drops...');\n    const trendingDrops = await sleeper.getTrendingPlayersWithDetails('drop', allPlayers, 30);\n    \n    console.log('Fetching league info...');\n    const league = await sleeper.getLeague(config.league_id);\n    \n    return {\n      roster,\n      allPlayers,\n      trendingAdds: trendingAdds.slice(0, 15),\n      trendingDrops: trendingDrops.slice(0, 10),\n      league\n    };\n  } catch (error) {\n    console.error('Sleeper API Error:', error);\n    throw new Error('Sleeper API Error: ' + error.message);\n  }\n}\n\nconst sleeperData = await fetchSleeperData();\nconsole.log('Sleeper data fetch complete!');\n\nreturn [{\n  json: {\n    config,\n    sleeperData\n  }\n}];"
      },
      "id": "fetch-sleeper-data",
      "name": "Fetch Sleeper Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "Gets your roster and trending players from Sleeper"
    },
    {
      "parameters": {
        "jsCode": "// Get input data\nconst inputData = $input.first().json;\nconst config = inputData.config;\nconst sleeperData = inputData.sleeperData;\n\n// Get GitHub code\nconst githubCode = $('Load Code from GitHub').first().json.data;\neval(githubCode);\n\n// Analyze the team\nfunction analyzeTeam() {\n  try {\n    console.log('Starting team analysis...');\n    \n    const allPlayers = sleeperData.allPlayers;\n    const rosterPlayerIds = sleeperData.roster.players || [];\n    const starterIds = sleeperData.roster.starters || [];\n    \n    // Analyze roster by position\n    const positionAnalysis = analyzeRosterByPosition(rosterPlayerIds, allPlayers);\n    \n    // Generate waiver recommendations\n    const waiverRecommendations = [];\n    const rosteredSet = new Set(rosterPlayerIds);\n    \n    for (const trending of sleeperData.trendingAdds) {\n      if (!rosteredSet.has(trending.player_id)) {\n        const player = allPlayers[trending.player_id];\n        if (!player || !player.active) continue;\n        if (player.injury_status === 'Out' || player.injury_status === 'IR') continue;\n        \n        const positionNeed = positionAnalysis[player.position]?.need || false;\n        const priorityScore = calculatePickupPriority(trending, positionNeed, null);\n        \n        waiverRecommendations.push({\n          player_id: trending.player_id,\n          name: trending.name,\n          position: player.position,\n          team: player.team,\n          trending_count: trending.count,\n          position_need: positionNeed,\n          priority_score: Math.round(priorityScore)\n        });\n      }\n    }\n    \n    waiverRecommendations.sort((a, b) => b.priority_score - a.priority_score);\n    \n    // Find drop candidates\n    const dropCandidates = [];\n    \n    // Check for injured players\n    rosterPlayerIds.forEach(playerId => {\n      const player = allPlayers[playerId];\n      if (player && (player.injury_status === 'Out' || player.injury_status === 'IR')) {\n        dropCandidates.push({\n          player_id: playerId,\n          name: `${player.first_name} ${player.last_name}`,\n          position: player.position,\n          team: player.team,\n          injury_status: player.injury_status,\n          reason: `Injured: ${player.injury_status}`\n        });\n      }\n    });\n    \n    // Check for trending drops on roster\n    for (const drop of sleeperData.trendingDrops) {\n      if (rosterPlayerIds.includes(drop.player_id)) {\n        const player = allPlayers[drop.player_id];\n        if (!dropCandidates.find(d => d.player_id === drop.player_id)) {\n          dropCandidates.push({\n            player_id: drop.player_id,\n            name: drop.name,\n            position: player.position,\n            team: player.team,\n            injury_status: player.injury_status || 'active',\n            reason: `Trending drop (${drop.count} leagues)`\n          });\n        }\n      }\n    }\n    \n    // Check for injured starters\n    const sitStartRecommendations = [];\n    const benchPlayerIds = rosterPlayerIds.filter(id => !starterIds.includes(id));\n    \n    for (const starterId of starterIds) {\n      const starter = allPlayers[starterId];\n      if (!starter) continue;\n      \n      if (starter.injury_status && starter.injury_status !== 'active') {\n        const benchAlternatives = benchPlayerIds\n          .map(id => allPlayers[id])\n          .filter(p => p && p.position === starter.position && (!p.injury_status || p.injury_status === 'active'));\n        \n        if (benchAlternatives.length > 0) {\n          sitStartRecommendations.push({\n            type: 'sit',\n            player_name: `${starter.first_name} ${starter.last_name}`,\n            position: starter.position,\n            reason: `Injury: ${starter.injury_status}`,\n            alternatives: benchAlternatives.map(p => `${p.first_name} ${p.last_name} (${p.team})`)\n          });\n        }\n      }\n    }\n    \n    return {\n      league_info: {\n        name: sleeperData.league.name,\n        scoring: sleeperData.league.scoring_settings?.rec || 0,\n        total_rosters: sleeperData.league.total_rosters\n      },\n      position_analysis: positionAnalysis,\n      waiver_recommendations: waiverRecommendations.slice(0, config.max_waiver_recommendations),\n      drop_candidates: dropCandidates,\n      sit_start_recommendations: sitStartRecommendations,\n      timestamp: new Date().toISOString()\n    };\n  } catch (error) {\n    console.error('Analysis Error:', error);\n    throw new Error('Analysis Error: ' + error.message);\n  }\n}\n\nconst analysis = analyzeTeam();\nconsole.log('Analysis complete!');\nconsole.log('Waiver recommendations:', analysis.waiver_recommendations.length);\nconsole.log('Drop candidates:', analysis.drop_candidates.length);\n\nreturn [{\n  json: {\n    config,\n    analysis\n  }\n}];"
      },
      "id": "analyze-team",
      "name": "Analyze Team",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Generates waiver wire and sit/start recommendations"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst config = inputData.config;\nconst analysis = inputData.analysis;\n\n// Get GitHub code\nconst githubCode = $('Load Code from GitHub').first().json.data;\neval(githubCode);\n\n// Generate email HTML\nconst emailHTML = generateEmailHTML(analysis);\nconst emailSubject = `🏈 Fantasy Football Report - Week ${config.current_week} - ${analysis.league_info.name}`;\n\nconsole.log('Email generated successfully!');\n\nreturn [{\n  json: {\n    email_to: config.email,\n    email_subject: emailSubject,\n    email_html: emailHTML\n  }\n}];"
      },
      "id": "generate-email",
      "name": "Generate Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "notes": "Creates the HTML email report"
    },
    {
      "parameters": {
        "fromEmail": "noreply@n8n.io",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_html }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1560, 300],
      "notes": "Configure your email credentials in n8n",
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Tuesday 8 AM": {
      "main": [
        [
          {
            "node": "Load Code from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Code from GitHub": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Fetch Sleeper Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sleeper Data": {
      "main": [
        [
          {
            "node": "Analyze Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Team": {
      "main": [
        [
          {
            "node": "Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-11-03T00:00:00.000Z",
  "versionId": "1"
}
